In [ ]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
import pandas as pd

driver = webdriver.Firefox(executable_path=r'C:\Users\Usuario\Documents\geckodriver.exe')

In [2]:
canvas_url = 'https://stwcas.okstate.edu/cas/login?service=https%3A%2F%2Fcanvas.okstate.edu%2Flogin%2Fcas'
driver.get(canvas_url)

WebDriverWait(driver, timeout=10).until(lambda d: d.find_element('id','username'))

In [3]:
canv_username = driver.find_element('id','username')
canv_password = driver.find_element('id','password')
canv_submit = driver.find_element('name','submit')

In [4]:
canv_username.send_keys('djaraco@okstate.edu')
canv_password.send_keys('*******')
canv_submit.submit()

In [5]:
canvas_url = 'https://canvas.okstate.edu/courses/135328/users'
driver.get(canvas_url)
WebDriverWait(driver, timeout=10).until(lambda d: d.find_element('css selector','tr.rosterUser.al-hover-container.StudentEnrollment td a.roster_user_name.student_context_card_trigger'))

In [6]:
names_elem = driver.find_elements('css selector','tr.rosterUser.al-hover-container.StudentEnrollment td a.roster_user_name.student_context_card_trigger')
name_list = list()
for names in names_elem:
    name_list.append(names.text)
print(name_list)

['Rhoda Alawiye', 'Tarun Reddy Alla', 'Joe Athimala Maria', 'Abdulraheem Awad', 'Ajmal Basheer', 'Karthik Suman Bathini', 'Vennela Bathini', 'Sai Mithilesh Reddy Bogireddy', 'Anirudh Bommina', 'Malachi Burks', 'Brittany Burlison', 'Becka Cammon', 'Darren Cartwright', 'Santhosh Chittiprolu', 'Ally Clifft', 'Dania Crivelli Zavala (She/Her)', 'Shreyan Datta Chakraborty (He/Him)', 'Al Delen', 'Jacob Freeman', 'Rishitha Ganagoni', 'Shubhi Gupta', 'Sudarshan Gupta', 'Ryan Hackett', 'Imran Haider', 'Zilong He', 'Shujia Huang', 'Muralidhar Ippili', 'Faisal Jaffri', 'Daniel Jara Cordero', 'Anant Joshi', 'Sphoorti Kadapa', 'Ruthvik Kadiyala', 'Ben Kamperman', 'Shivachandanreddy Kancharla', 'Satishwar Kedas', 'Kyler Keith', 'Adithya Kolli (He/Him)', 'Sai Chandrika Kompella', 'Rishitha Koneru', 'Amarnath Kotagiri', 'Sai Chaitanya Kouratla', 'Kushal Kulshreshtha', 'Ranjith Kumar Kuppu Rathinam', 'Isabella Lieberman', 'Harry Lim', 'Ray Litchfield', 'Ashutosh Maharana', 'Chad Malone']

In [7]:
canvas_url = 'https://canvas.okstate.edu/courses/135328/users'
driver.get(canvas_url)
WebDriverWait(driver, timeout=10).until(lambda d: d.find_element('css selector','div.section'))

In [8]:
section_elem = driver.find_elements('css selector','div.section')
section_list = list()
for sections in section_elem:
    section_list.append(sections.text)
print(section_list)

['MSIS-5193-68789', 'MSIS-5193-68789', 'MSIS-4623-69977', 'MSIS-5193-68789', 'MSIS-5193-68790', 'MSIS-5193-68789', 'MSIS-4623-69977', 'MSIS-5193-68790', 'MSIS-5193-68789', 'MSIS-5193-68789', 'MSIS-5193-68789', 'MSIS-5193-68789', 'MSIS-4623-69977', 'MSIS-5193-68789', 'MSIS-5193-68789', 'MSIS-5193-68790', 'MSIS-5193-68789', 'MSIS-5193-68789', 'MSIS-5193-68790', 'MSIS-5193-68790', 'MSIS-5193-68789', 'MSIS-5193-68789', 'MSIS-5193-68790', 'MSIS-5193-68789', 'MSIS-5193-68789', 'MSIS-5193-68790', 'MSIS-5193-68790', 'MSIS-4623-69977', 'MSIS-5193-68789', 'MSIS-5193-68790', 'MSIS-5193-68790', 'MSIS-5193-68790', 'MSIS-5193-68789', 'MSIS-5193-68790', 'MSIS-5193-68790', 'MSIS-5193-68789', 'MSIS-5193-68790', 'MSIS-5193-68790', 'MSIS-4623-69977', 'MSIS-5193-68790', 'MSIS-5193-68789', 'MSIS-4623-69977', 'MSIS-5193-68789', 'MSIS-5193-68790', 'MSIS-5193-68790', 'MSIS-5193-68789', 'MSIS-5193-68790', 'MSIS-5193-68790', 'MSIS-5193-68789', 'MSIS-5193-68790', 'MSIS-5193-68790', 'MSIS-5193-68789', 'MSIS-5193-68789', 'MSIS-5193-68790']

In [18]:
canvas_url = 'https://canvas.okstate.edu/courses/135328/users'
driver.get(canvas_url)

WebDriverWait(driver, timeout=10).until(lambda d: d.find_element('xpath','/html/body/div[3]/div[2]/div[2]/div[3]/div[1]/div/div[2]/div/div[1]/div/div[2]/table/tbody/tr/td[4]/div'))

In [21]:
section_elem = driver.find_elements('xpath','/html/body/div[3]/div[2]/div[2]/div[3]/div[1]/div/div[2]/div/div[1]/div/div[2]/table/tbody/tr/td[4]/div')
roles_list = list()
for roles in section_elem:
    roles_list.append(roles.text)
print(roles_list)

['Student', 'Student', 'TA', 'TA', 'TA', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Teacher', 'Teacher', 'Teacher', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student', 'Student']

In [14]:
student_name = pd.DataFrame(name_list)
student_name.columns =['student_name']
student_name

                          student_name
0                        Rhoda Alawiye
1                     Tarun Reddy Alla
2                   Joe Athimala Maria
3                     Abdulraheem Awad
4                        Ajmal Basheer
5                Karthik Suman Bathini
6                      Vennela Bathini
7        Sai Mithilesh Reddy Bogireddy
8                      Anirudh Bommina
9                        Malachi Burks
10                   Brittany Burlison
11                        Becka Cammon
12                   Darren Cartwright
13                Santhosh Chittiprolu
14                         Ally Clifft
15     Dania Crivelli Zavala (She/Her)
16  Shreyan Datta Chakraborty (He/Him)
17                            Al Delen
18                       Jacob Freeman
19                   Rishitha Ganagoni
20                        Shubhi Gupta
21                     Sudarshan Gupta
22                        Ryan Hackett
23                        Imran Haider
24                           Zilong He
25                        Shujia Huang
26                   Muralidhar Ippili
27                       Faisal Jaffri
28                 Daniel Jara Cordero
29                         Anant Joshi
30                     Sphoorti Kadapa
31                    Ruthvik Kadiyala
32                       Ben Kamperman
33         Shivachandanreddy Kancharla
34                     Satishwar Kedas
35                         Kyler Keith
36              Adithya Kolli (He/Him)
37              Sai Chandrika Kompella
38                     Rishitha Koneru
39                   Amarnath Kotagiri
40              Sai Chaitanya Kouratla
41                 Kushal Kulshreshtha
42        Ranjith Kumar Kuppu Rathinam
43                  Isabella Lieberman
44                           Harry Lim
45                      Ray Litchfield
46                   Ashutosh Maharana
47                         Chad Malone

In [15]:
class_section = pd.DataFrame(section_list)
class_section.columns =['class_section']
class_section

      class_section
0   MSIS-5193-68789
1   MSIS-5193-68789
2   MSIS-4623-69977
3   MSIS-5193-68789
4   MSIS-5193-68790
5   MSIS-5193-68789
6   MSIS-4623-69977
7   MSIS-5193-68790
8   MSIS-5193-68789
9   MSIS-5193-68789
10  MSIS-5193-68789
11  MSIS-5193-68789
12  MSIS-4623-69977
13  MSIS-5193-68789
14  MSIS-5193-68789
15  MSIS-5193-68790
16  MSIS-5193-68789
17  MSIS-5193-68789
18  MSIS-5193-68790
19  MSIS-5193-68790
20  MSIS-5193-68789
21  MSIS-5193-68789
22  MSIS-5193-68790
23  MSIS-5193-68789
24  MSIS-5193-68789
25  MSIS-5193-68790
26  MSIS-5193-68790
27  MSIS-4623-69977
28  MSIS-5193-68789
29  MSIS-5193-68790
30  MSIS-5193-68790
31  MSIS-5193-68790
32  MSIS-5193-68789
33  MSIS-5193-68790
34  MSIS-5193-68790
35  MSIS-5193-68789
36  MSIS-5193-68790
37  MSIS-5193-68790
38  MSIS-4623-69977
39  MSIS-5193-68790
40  MSIS-5193-68789
41  MSIS-4623-69977
42  MSIS-5193-68789
43  MSIS-5193-68790
44  MSIS-5193-68790
45  MSIS-5193-68789
46  MSIS-5193-68790
47  MSIS-5193-68790
48  MSIS-5193-68789
49  MSIS-5193-68790
50  MSIS-5193-68790
51  MSIS-5193-68789
52  MSIS-5193-68789
53  MSIS-5193-68790

In [22]:
class_role = pd.DataFrame(roles_list)
class_role.columns =['class_role']
class_role

   class_role
0     Student
1     Student
2          TA
3          TA
4          TA
5     Student
6     Student
7     Student
8     Student
9     Student
10    Student
11    Student
12    Student
13    Student
14    Student
15    Student
16    Student
17    Student
18    Student
19    Student
20    Student
21    Student
22    Student
23    Student
24    Student
25    Student
26    Student
27    Teacher
28    Teacher
29    Teacher
30    Student
31    Student
32    Student
33    Student
34    Student
35    Student
36    Student
37    Student
38    Student
39    Student
40    Student
41    Student
42    Student
43    Student
44    Student
45    Student
46    Student
47    Student
48    Student
49    Student
50    Student
51    Student
52    Student
53    Student

In [26]:
dfs = pd.concat([student_name,class_section,class_role], axis=1)
dfs

                          student_name    class_section class_role
0                        Rhoda Alawiye  MSIS-5193-68789    Student
1                     Tarun Reddy Alla  MSIS-5193-68789    Student
2                   Joe Athimala Maria  MSIS-4623-69977         TA
3                     Abdulraheem Awad  MSIS-5193-68789         TA
4                        Ajmal Basheer  MSIS-5193-68790         TA
5                Karthik Suman Bathini  MSIS-5193-68789    Student
6                      Vennela Bathini  MSIS-4623-69977    Student
7        Sai Mithilesh Reddy Bogireddy  MSIS-5193-68790    Student
8                      Anirudh Bommina  MSIS-5193-68789    Student
9                        Malachi Burks  MSIS-5193-68789    Student
10                   Brittany Burlison  MSIS-5193-68789    Student
11                        Becka Cammon  MSIS-5193-68789    Student
12                   Darren Cartwright  MSIS-4623-69977    Student
13                Santhosh Chittiprolu  MSIS-5193-68789    Student
14                         Ally Clifft  MSIS-5193-68789    Student
15     Dania Crivelli Zavala (She/Her)  MSIS-5193-68790    Student
16  Shreyan Datta Chakraborty (He/Him)  MSIS-5193-68789    Student
17                            Al Delen  MSIS-5193-68789    Student
18                       Jacob Freeman  MSIS-5193-68790    Student
19                   Rishitha Ganagoni  MSIS-5193-68790    Student
20                        Shubhi Gupta  MSIS-5193-68789    Student
21                     Sudarshan Gupta  MSIS-5193-68789    Student
22                        Ryan Hackett  MSIS-5193-68790    Student
23                        Imran Haider  MSIS-5193-68789    Student
24                           Zilong He  MSIS-5193-68789    Student
25                        Shujia Huang  MSIS-5193-68790    Student
26                   Muralidhar Ippili  MSIS-5193-68790    Student
27                       Faisal Jaffri  MSIS-4623-69977    Teacher
28                 Daniel Jara Cordero  MSIS-5193-68789    Teacher
29                         Anant Joshi  MSIS-5193-68790    Teacher
30                     Sphoorti Kadapa  MSIS-5193-68790    Student
31                    Ruthvik Kadiyala  MSIS-5193-68790    Student
32                       Ben Kamperman  MSIS-5193-68789    Student
33         Shivachandanreddy Kancharla  MSIS-5193-68790    Student
34                     Satishwar Kedas  MSIS-5193-68790    Student
35                         Kyler Keith  MSIS-5193-68789    Student
36              Adithya Kolli (He/Him)  MSIS-5193-68790    Student
37              Sai Chandrika Kompella  MSIS-5193-68790    Student
38                     Rishitha Koneru  MSIS-4623-69977    Student
39                   Amarnath Kotagiri  MSIS-5193-68790    Student
40              Sai Chaitanya Kouratla  MSIS-5193-68789    Student
41                 Kushal Kulshreshtha  MSIS-4623-69977    Student
42        Ranjith Kumar Kuppu Rathinam  MSIS-5193-68789    Student
43                  Isabella Lieberman  MSIS-5193-68790    Student
44                           Harry Lim  MSIS-5193-68790    Student
45                      Ray Litchfield  MSIS-5193-68789    Student
46                   Ashutosh Maharana  MSIS-5193-68790    Student
47                         Chad Malone  MSIS-5193-68790    Student
48                                 NaN  MSIS-5193-68789    Student
49                                 NaN  MSIS-5193-68790    Student
50                                 NaN  MSIS-5193-68790    Student
51                                 NaN  MSIS-5193-68789    Student
52                                 NaN  MSIS-5193-68789    Student
53                                 NaN  MSIS-5193-68790    Student

In [28]:
canvas = dfs.to_csv('canvas_Jara.csv', index = True)

In [29]:
driver.quit()