In [2]:
import pandas as pd

from lxml import html
from lxml import etree

import urllib3

In [3]:
imdburl = "https://www.imdb.com/title/tt1950186/?ref_=nv_sr_srsg_0"

httpmng = urllib3.PoolManager()
resp = httpmng.request('GET', imdburl)

In [4]:
tagtree = html.fromstring(resp.data)

In [5]:
# Title, genre (all individually, and then as a group and print via a loop), and overall rating of the movie
xp1 = '//div[@class="sc-80d4314-1 fbQftq"]/h1'

imdb_title = tagtree.xpath(xp1)
imdb_title[0].text_content()

'Ford v Ferrari'

In [6]:
xp2 = '//div[@class="sc-7ab21ed2-2 kYEdvH"]'

imdb_rating = tagtree.xpath(xp2)
imdb_rating[0].text_content()

'8.1/10'

In [7]:
xp3 = '/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/div[1]/div[1]/div[2]/a[1]'

imdb_genre = tagtree.xpath(xp3)
imdb_genre[0].text_content()

'Action'

In [8]:
xp4 = '/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/div[1]/div[1]/div[2]/a[2]'

imdb_genre = tagtree.xpath(xp4)
imdb_genre[0].text_content()

'Biography'

In [9]:
xp5 = '/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/div[1]/div[1]/div[2]/a[3]'

imdb_genre = tagtree.xpath(xp5)
imdb_genre[0].text_content()

'Drama'

In [10]:
for i in range(1,4):
    path = "/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/div[1]/div[1]/div[2]/a["+str(i)+"]"
    imdb_genre = tagtree.xpath(path)
    print(imdb_genre[0].text_content())

Action
Biography
Drama

In [11]:
imdburl2 = "https://www.imdb.com/title/tt1950186/keywords?ref_=tt_stry_kw"

httpmng = urllib3.PoolManager()
resp = httpmng.request('GET', imdburl2)

In [12]:
tagtree2 = html.fromstring(resp.data)

In [18]:
kw = '//div[@class="sodatext"]/a/text()'

imdb_keywords = tagtree2.xpath(kw)
imdb_keywords

['based on true story',
 'car racing',
 'based on book',
 '24 hours le mans race',
 'motor sports',
 'racecar',
 'racecar driver',
 'singing in a car',
 'husband wife relationship',
 'punched in the face',
 'fight',
 'ford motor company',
 'watching tv',
 'ken miles character',
 'telephone',
 '24 hours of le mans',
 'le mans',
 'car',
 'racing',
 'rivalry',
 'speech',
 'englishman abroad',
 'englishwoman abroad',
 'american abroad',
 'year 1966',
 'indy 500',
 'father son relationship',
 'mother son relationship',
 'friendship',
 'friend',
 'wrench',
 'throwing a wrench at someone',
 'time watch',
 'pit stop',
 'reference to sophia loren',
 'reference to monica vitti',
 'reference to steve mcqueen the actor',
 'reference to adolf hitler',
 'reference to franklin d. roosevelt',
 'reference to henry ford',
 'ford mustang',
 'assembly line',
 'automobile manufacturing',
 'automobile designing',
 'italy',
 'italian',
 'subtitled scene',
 'subjective camera',
 'listening to a radio',
 'rain',
 'reckless driving',
 'driving in the rain',
 'death of husband',
 'groceries',
 'sportswear',
 'telephone call',
 'ferrari',
 'newspaper',
 'newspaper headline',
 'reference to fiat automobiles',
 'based on real person',
 'male friendship',
 'male bonding',
 'france',
 'perseverance',
 'believe in yourself',
 'car damage',
 'defective car brakes',
 'defective brakes',
 'united kingdom flag',
 'glasses',
 'doctor',
 'sunglasses',
 'sun hat',
 'american flag',
 'checkered flag',
 'cigarette smoking',
 'texas flag',
 'pencil',
 'binoculars',
 'man wears eyeglasses',
 'violence',
 'driving',
 'mechanic',
 'reference to james bond',
 'male protagonist',
 'racing driver',
 'breaking a window',
 'year 1959',
 'man on fire',
 'lee iacocca character',
 'company name in title',
 'automobile factory',
 'autograph seeker',
 'reference to steve mcqueen',
 'enzo ferrari character',
 'merger',
 'carroll shelby character',
 'reference to charles lindbergh',
 'test track',
 'drinking beer from a bottle',
 'reference to world war two',
 'american flag waving in breeze',
 'mg mga 1500',
 'aston martin',
 'clothes on fire',
 'fuel spill',
 'intense competitor',
 'u turn across traffic',
 '7000 rpm',
 'voice over narration',
 'slot car race track',
 'automobile assembly line',
 'fizzy pop',
 'chevrolet impala',
 'trophy',
 'airstream',
 'porsche',
 'race car driver',
 'father carrying his son',
 'breaking a windshield',
 'breakdown',
 'ford gt',
 '218 miles per hour',
 'dirty trick',
 'engine factory',
 'riding a vespa',
 'brake failure',
 'insult',
 'perfect lap',
 'firecracker',
 'car crash',
 'daytona 500',
 'racing tactics',
 'beechcraft model 18',
 'tipping hat',
 'boeing 727',
 'reference to doris day',
 'riding a motorcycle',
 'french flag',
 "door won't close",
 'bell 47 sioux helicopter',
 'thunderstorm',
 'death of a friend',
 'changing a tire',
 'stop watch',
 'driving in rain',
 'replacing brakes',
 'ends with historical notes',
 'ethnic slur',
 'italian american',
 'italian man',
 'helicopter',
 'exploding car',
 'person on fire',
 'auto mechanic',
 'motorsports sport',
 'timeframe 1960s',
 'abbreviation in title',
 'death of friend',
 'death of father',
 'boy']

In [37]:
budget = '//div[@class="ipc-metadata-list-item__content-container"]/ul[@class="ipc-inline-list ipc-inline-list--show-dividers ipc-inline-list--inline ipc-metadata-list-item__list-content base"]/li[@class="ipc-inline-list__item"]/span[@class="ipc-metadata-list-item__list-content-item"]/text()'

imdb_budget = tagtree.xpath(budget)
imdb_budget

['25 wins & 91 nominations total',
 'Ford Versus Ferrari',
 '$97,600,000 (estimated)',
 '$117,624,357',
 '$31,474,958',
 'Nov 17, 2019',
 '$225,508,210',
 '2.39 : 1']

WIKIPEDIA

In [17]:
imdburl3 = "https://en.wikipedia.org/wiki/Statistics_of_the_COVID-19_pandemic_in_the_United_States"

httpmng = urllib3.PoolManager()
resp = httpmng.request('GET', imdburl3)
tagtree3 = html.fromstring(resp.data)

In [45]:
c1 = []
for i in range(3,59):
    col1 = "/html/body/div[3]/div[3]/div[5]/div[1]/div[7]/div/div/div[4]/table/tbody/tr["+str(i)+"]/th"
    wikipedia_table = tagtree3.xpath(col1)
    c1.append(wikipedia_table[0].text_content())

c1_new = []
for i in c1:
    c1_new.append(i.strip())

c1_new

['Alabama',
 'Alaska',
 'American Samoa',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida[v]',
 'Georgia',
 'Guam',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Northern Mariana Islands',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'US Virgin Islands',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [46]:
c2 = []
for i in range(3,59):
    col2 = "/html/body/div[3]/div[3]/div[5]/div[1]/div[7]/div/div/div[4]/table/tbody/tr["+str(i)+"]/td[2]"
    wikipedia_table = tagtree3.xpath(col2)
    c2.append(wikipedia_table[0].text_content())

c2_new = []
for i in c2:
    c2_new.append(i.strip())

c2_new

['1,528,739',
 '284,076',
 '8,250',
 '2,277,635',
 '954,822',
 '11,284,337',
 '1,661,645',
 '903,688',
 '310,699',
 '168,796',
 '7,137,526',
 '2,913,382',
 '58,647',
 '349,598',
 '497,728',
 '3,779,983',
 '1,925,645',
 '859,632',
 '883,063',
 '1,599,943',
 '1,458,706',
 '293,141',
 '1,258,064',
 '2,060,884',
 '2,861,595',
 '1,670,765',
 '930,438',
 '1,655,669',
 '311,830',
 '539,389',
 '849,745',
 '352,870',
 '2,763,340',
 '621,483',
 '6,162,077',
 '3,221,966',
 '270,288',
 '13,171',
 '3,153,743',
 '1,203,469',
 '902,319',
 '3,280,190',
 '964,435',
 '406,546',
 '1,715,434',
 '262,837',
 '2,348,731',
 '7,893,859',
 '23,233',
 '1,040,147',
 '133,252',
 '2,100,475',
 '1,825,841',
 '603,583',
 '1,878,404',
 '177,635']

In [47]:
c3 = []
for i in range(3,59):
    col3 = "/html/body/div[3]/div[3]/div[5]/div[1]/div[7]/div/div/div[4]/table/tbody/tr["+str(i)+"]/td[3]"
    wikipedia_table = tagtree3.xpath(col3)
    c3.append(wikipedia_table[0].text_content())

c3_new = []
for i in c3:
    c3_new.append(i.strip())

c3_new

['20,505',
 '1,356',
 '34',
 '31,455',
 '12,334',
 '95,414',
 '13,354',
 '11,402',
 '3,121',
 '1,392',
 '81,865',
 '40,448',
 '401',
 '1,687',
 '5,198',
 '39,802',
 '24,748',
 '10,125',
 '9,590',
 '17,162',
 '18,127',
 '2,621',
 '15,464',
 '21,771',
 '38,919',
 '13,695',
 '12,945',
 '21,564',
 '3,555',
 '4,552',
 '11,531',
 '2,713',
 '34,805',
 '8,599',
 '71,411',
 '26,889',
 '2,383',
 '40',
 '39,950',
 '14,924',
 '8,622',
 '47,442',
 '5,193',
 '3,674',
 '18,468',
 '3,046',
 '27,980',
 '89,375',
 '123',
 '5,028',
 '698',
 '22,001',
 '14,430',
 '7,455',
 '15,324',
 '1,904']

In [48]:
c4 = []
for i in range(3,59):
    col4 = "/html/body/div[3]/div[3]/div[5]/div[1]/div[7]/div/div/div[4]/table/tbody/tr["+str(i)+"]/td[4]"
    wikipedia_table = tagtree3.xpath(col4)
    c4.append(wikipedia_table[0].text_content())

c4_new = []
for i in c4:
    c4_new.append(i.strip())

c4_new

['275,245',
 '7,165',
 '3',
 '—',
 '306,382',
 '—',
 '—',
 '—',
 '18,371',
 '28,532',
 '—',
 '—',
 '7,377',
 '11,385',
 '92,573',
 '—',
 '1,728,475',
 '286,309',
 '—',
 '47,067',
 '396,834',
 '12,772',
 '—',
 '477,796',
 '2,747,446',
 '1,447,550',
 '273,437',
 '—',
 '260,525',
 '142,336',
 '—',
 '70,040',
 '—',
 '135,608',
 '150,100',
 '2,640,452',
 '97,286',
 '29',
 '2,640,920',
 '401,945',
 '—',
 '816,884',
 '—',
 '—',
 '—',
 '107,745',
 '738,731',
 '4,260,877[vi]',
 '2,483',
 '346,157',
 '34,184',
 '—',
 '—',
 '119,337',
 '545,562',
 '52,688']

In [49]:
c5 = []
for i in range(3,59):
    col5 = "/html/body/div[3]/div[3]/div[5]/div[1]/div[7]/div/div/div[4]/table/tbody/tr["+str(i)+"]/td[5]"
    wikipedia_table = tagtree3.xpath(col5)
    c5.append(wikipedia_table[0].text_content())

c5_new = []
for i in c5:
    c5_new.append(i.strip())

c5_new

['45,250',
 '1,260',
 '—',
 '57,072',
 '14,617',
 '—',
 '23,293',
 '12,257',
 '—',
 '—',
 '78,472',
 '55,167',
 '—',
 '2,196',
 '7,007',
 '—',
 '148,052',
 '—',
 '9,103',
 '18,768',
 '—',
 '1,511',
 '34,577',
 '19,176',
 '—',
 '63,295',
 '9,012',
 '—',
 '11,589',
 '6,048',
 '—',
 '1,095',
 '63,190',
 '12,989',
 '89,995',
 '—',
 '3,859',
 '4',
 '115,481',
 '23,700',
 '8,457',
 '—',
 '—',
 '8,835',
 '—',
 '6,548',
 '18,311',
 '—',
 '—',
 '14,520',
 '—',
 '41,373',
 '19,110',
 '—',
 '25,838',
 '1,373']

In [50]:
covid_df = dict(state_territory_name =c1_new, cases =c2_new, deaths =c3_new, recovery =c4_new, hospitalization =c5_new)

df = pd.DataFrame.from_dict(covid_df)

df

,state_territory_name,cases,deaths,recovery,hospitalization
0,Alabama,"1,528,739","20,505","275,245","45,250"
1,Alaska,"284,076","1,356","7,165","1,260"
2,American Samoa,"8,250",34,3,—
3,Arizona,"2,277,635","31,455",—,"57,072"
4,Arkansas,"954,822","12,334","306,382","14,617"
5,California,"11,284,337","95,414",—,—
6,Colorado,"1,661,645","13,354",—,"23,293"
7,Connecticut,"903,688","11,402",—,"12,257"
8,Delaware,"310,699","3,121","18,371",—
9,District of Columbia,"168,796","1,392","28,532",—
10,Florida[v],"7,137,526","81,865",—,"78,472"
11,Georgia,"2,913,382","40,448",—,"55,167"
12,Guam,"58,647",401,"7,377",—
13,Hawaii,"349,598","1,687","11,385","2,196"
14,Idaho,"497,728","5,198","92,573","7,007"
15,Illinois,"3,779,983","39,802",—,—
16,Indiana,"1,925,645","24,748","1,728,475","148,052"
17,Iowa,"859,632","10,125","286,309",—
18,Kansas,"883,063","9,590",—,"9,103"
19,Kentucky,"1,599,943","17,162","47,067","18,768"
20,Louisiana,"1,458,706","18,127","396,834",—
21,Maine,"293,141","2,621","12,772","1,511"
22,Maryland,"1,258,064","15,464",—,"34,577"
23,Massachusetts,"2,060,884","21,771","477,796","19,176"
24,Michigan,"2,861,595","38,919","2,747,446",—
25,Minnesota,"1,670,765","13,695","1,447,550","63,295"
26,Mississippi,"930,438","12,945","273,437","9,012"
27,Missouri,"1,655,669","21,564",—,—
28,Montana,"311,830","3,555","260,525","11,589"
29,Nebraska,"539,389","4,552","142,336","6,048"
30,Nevada,"849,745","11,531",—,—
31,New Hampshire,"352,870","2,713","70,040","1,095"
32,New Jersey,"2,763,340","34,805",—,"63,190"
33,New Mexico,"621,483","8,599","135,608","12,989"
34,New York,"6,162,077","71,411","150,100","89,995"
35,North Carolina,"3,221,966","26,889","2,640,452",—
36,North Dakota,"270,288","2,383","97,286","3,859"
37,Northern Mariana Islands,"13,171",40,29,4
38,Ohio,"3,153,743","39,950","2,640,920","115,481"
39,Oklahoma,"1,203,469","14,924","401,945","23,700"
40,Oregon,"902,319","8,622",—,"8,457"
41,Pennsylvania,"3,280,190","47,442","816,884",—
42,Puerto Rico,"964,435","5,193",—,—
43,Rhode Island,"406,546","3,674",—,"8,835"
44,South Carolina,"1,715,434","18,468",—,—
45,South Dakota,"262,837","3,046","107,745","6,548"
46,Tennessee,"2,348,731","27,980","738,731","18,311"
47,Texas,"7,893,859","89,375","4,260,877[vi]",—
48,US Virgin Islands,"23,233",123,"2,483",—
49,Utah,"1,040,147","5,028","346,157","14,520"
50,Vermont,"133,252",698,"34,184",—
51,Virginia,"2,100,475","22,001",—,"41,373"
52,Washington,"1,825,841","14,430",—,"19,110"
53,West Virginia,"603,583","7,455","119,337",—
54,Wisconsin,"1,878,404","15,324","545,562","25,838"
55,Wyoming,"177,635","1,904","52,688","1,373"